{% extends "flatpages/default.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}
{% trans "Password Reset" %}
{% endblock %}

{% block content %}

    <h1>Сброс пароля</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>Забыли пароль? Введите Ваш email ниже и мы вышлем Вам на него письмо, по которому Вы сможете сбросить пароль.</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Сбросить пароль" />
    </form>

    <p>Пожалуйста, свяжитесь с нами, если у вас возникнут проблемы со сбросом пароля.</p>
{% endblock %}
