<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% load account %} <!-- Загружаем тег который позволит получить нам ссылку на подтверждение -->
    <h1>
        Уважаемый {{ user.username }},<br>
        Благодарим вас за регистрацию на нашем сайте "Новостной портал"!
    </h1>
    <h3>
        Пожалуйста, перейдите по <a href="{{ activate_url }}">ссылке</a> для активации вашего аккаунта
    </h3>
     <!-- Вставляем ссылку на активацию -->
</body>
</html>