<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>
        Уважаемый пользователь!<br>
    </h1>
    <h3>
        Уведомляем вас, что в категории "{{ category }}" на нашем сайте
        <a href="{{ link }}">"Новостной портал"!</a>появилась новая публикация:<br>
        Заголовок публикации: {{ header }}<br>
        Превью публикации: {{ preview }}<br>
        <a href="{{ detail }}">Нажмите, что бы узнать подробнее.</a>
    </h3>
</body>
</html>