<!-- наследуемся от шаблона default.html, который мы создавали для flatpages
-->
{% extends 'flatpages/default.html' %}

{% load custom_filter %}

{% load custom_tags %}

<!-- Название у нас будет Posts -->
{% block title %}
Posts
{% endblock title %}

<!-- В контенте на странице мы выводим все посты -->
{% block content %}
    <h1 class="text-center">Категория "{{ category }}"</h1>
    {% if is_not_subscriber %}
        <p class="text-center">
            <a href="{% url 'subscribe_unsubscribe' category.id %}" class="btn btn-outline-success btn-sm">
            Подписаться на категорию</a>
        </p>
    {% else %}
    <div class="line"></div>
        <p class="text-center">
            <h3>Вы уже подписаны на рассылку о новостях данной категории</h3>
            <a href="{% url 'subscribe_unsubscribe' category.id %}" class="btn btn-outline-danger btn-sm">
                Отписаться от категории</a>
        </p>
    {% endif %}
    <div class="line"></div>
        {% if category_news_list %}
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Тип публикации</th>
                    <th scope="col">Заголовок публикации</th>
                    <th scope="col">Дата публикации</th>
                    <th scope="col">Превью публикации</th>
                    <th scope="col">Публикация</th>
                    {% if perms.news.change_post %}
                        <th scope="col">Изменить публикацию</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
            {% for post in category_news_list %}
                <tr>
                    <td>{{ post.get_postsOrNews_display }}</td>
                    <td>{{ post.header|censor }}</td>
                    <td>{{ post.timeIn|date:'d.m.Y'}}</td>
                    <td>{{ post.text|truncatewords:20|censor }}</td>
                    <td><a href="{% url 'news_detail' post.id %}">Узнать подробнее</a></td>
                        {% if perms.news.change_post %}
                            <td><a href="{% url 'news_update' post.id %}">Изменить</a> </td>
                        {% endif %}

                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h2>Публикации отсутствуют</h2>
    {% endif %}
{% endblock content %}
