<!-- наследуемся от шаблона default.html, который мы создавали для flatpages
-->
{% extends 'flatpages/default.html' %}

{% load custom_filter %}

<!-- Название у нас будет Posts -->
{% block title %}
Posts
{% endblock title %}

<!-- В контенте на странице мы выводим все посты -->
{% block content %}
    <h1>
        <td>Общее количество постов: </td>
        {{ news | length }}
    </h1>
    <hr>
    {% if news %}
        <table>
            <tr>
                <td>Заголовок</td>
                <td>Дата публикации</td>
                <td>Превью статьи</td>
                <td>Подробнее</td>
            </tr>
            {% for post in news %}
                <tr>
                    <td>{{ post.header|censor }}</td>
                    <td>{{ post.timeIn|date:'d.M.Y'}}</td>
                    <td>{{ post.text|truncatewords:20|censor }}</td>
                    <td><a href="oneNews/{{ post.id }}">узнать подробнее</a></td>
                </tr>
            {% endfor %}

        </table>
    {% else %}
        <h2>Посты отсутствуют</h2>
    {% endif %}
{% endblock content %}
