<!-- наследуемся от шаблона default.html, который мы создавали для flatpages
-->
{% extends 'flatpages/default.html' %}

{% load custom_filter %}

{% load custom_tags %}

<!-- Название у нас будет Posts -->
{% block title %}
Posts
{% endblock title %}

<!-- В контенте на странице мы выводим все посты -->
{% block content %}
    <h3>
        <td>Количество найденных публикаций: </td>
        {{ news | length }}
    </h3>

    {% if perms.news.add_post %}
    <div class="line"></div>
    <h5>
        <a href="{% url 'news_create' %}" class="btn btn-outline-success btn-sm">Создать публикацию</a>
    </h5>
    {% endif %}

    <hr>
        <form action="" method="get">
            <h5>{{ filterset.form.as_p }}</h5>
            <!--<input type="datetime-local" id="timeIn"
            name="timeIn" value="{{ filters.form.timeIn }}"> -->
            <input type="submit" class="btn btn-outline-primary btn-sm" value="Найти" />
        </form>
    <hr>
    {% if news %}
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Тип публикации</th>
                    <th scope="col">Категории публикации</th>
                    <th scope="col">Заголовок публикации</th>
                    <th scope="col">Дата публикации</th>
                    <th scope="col">Превью публикации</th>
                    <th scope="col">Публикация</th>
                    {% if perms.news.change_post %}
                        <th scope="col">Изменить публикацию</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
            {% for post in news %}
                <tr>
                    <td>{{ post.get_postsOrNews_display }}</td>
                    <td>
                        {% for category in post.postCategories.all %}
                            {% if not forloop.last %}
                                <a href="{% url 'category_list' category.id %}">{{ category.categories }},</a>
                            {% else %}
                                <a href="{% url 'category_list' category.id %}">{{ category.categories }}</a>
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>{{ post.header|truncatewords:5|censor }}</td>
                    <td>{{ post.timeIn|date:'d.m.Y'}}</td>
                    <td>{{ post.text|truncatewords:10|censor }}</td>
                    <td><a href="{% url 'news_detail' post.id %}">Узнать подробнее</a></td>
                        {% if perms.news.change_post %}
                            <td><a href="{% url 'news_update' post.id %}">Изменить</a> </td>
                        {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h2>Публикации не найдены</h2>
    {% endif %}

    <h6>страницы</h6>

    {% if page_obj.has_previous %}
        <a href="?{% url_replace page=page_obj.previous_page_number %}">предыдущая</a>
    {% endif %}

    {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}

    {% if page_obj.has_next %}
        <a href="?{% url_replace page=page_obj.next_page_number %}">следующая</a>
    {% endif %}

{% endblock content %}
