<!-- наследуемся от шаблона default.html, который мы создавали для flatpages
-->
{% extends 'flatpages/default.html' %}

{% load custom_filter %}

{% load custom_tags %}

<!-- Название у нас будет Posts -->
{% block title %}
Posts
{% endblock title %}

<!-- В контенте на странице мы выводим все посты -->
{% block content %}
    <h3>
        <td>Количество найденных публикаций: </td>
        {{ news | length }}
    </h3>
    <div class="line"></div>

    {% if perms.news.add_post %}
    <h5>
        <a href="{% url 'news_create' %}">Создать публикацию</a>
    </h5>
    {% endif %}

    <div class="line"></div>
    <h5>
        <a href="{% url 'news_list' %}">На главную</a>
    </h5>
    <hr>
        <form action="" method="get">
            <h5>{{ filterset.form.as_p }}</h5>
            <!--<input type="datetime-local" id="timeIn"
            name="timeIn" value="{{ filters.form.timeIn }}"> -->
            <input type="submit" value="Найти" />
        </form>
    <hr>
    {% if news %}
        <table>
            <tr>
                <td><h6>Тип публикации</h6></td>
                <td><h6>Заголовок публикации</h6></td>
                <td><h6>Дата публикации</h6></td>
                <td><h6>Превью публикации</h6></td>
                <td><h6>Подробнее о публикации</h6></td>
                {% if perms.news.change_post %}
                    <td><h6>Изменить публикацию</h6></td>
                {% endif %}
            </tr>
            {% for post in news %}
                <tr>
                    <td>{{ post.get_postsOrNews_display }}</td>
                    <td width="50%">{{ post.header|censor }}</td>
                    <td>{{ post.timeIn|date:'d.M.Y'}}</td>
                    <td width="50%">{{ post.text|truncatewords:20|censor }}</td>
                    <td><a href="{{ post.id }}">узнать подробнее</a></td>
                    {% if perms.news.change_post %}
                        <td><a href="{% url 'news_update' post.id %}">Изменить</a> </td>
                    {% endif %}
                </tr>
            {% endfor %}

        </table>
    {% else %}
        <h2>Публикации не найдены</h2>
    {% endif %}

    <h6>страницы</h6>{{ page_obj.number }}

    {% if page_obj.has_previous %}
        <a href="?{% url_replace page=1 %}">1</a>
        {% if page_obj.previous_page_number != 1 %}
            <a href="?{% url_replace page=page_obj.previous_page_number %}">
                {{ page.obj_previous_page_number }}
            </a>
        {% endif %}
    {% endif %}

    {% if page_obj.has_next %}
        <a href="?{% url_replace page=page_obj.next_page_number %}">
            {{ page_obj.next_page_number }}
        </a>
        {% if paginator.num_pages != page_obj.next_page_number %}
            <a href="?{% url_replace page=page_obj.paginator.num_pages %}">
                {{ page_obj.paginator.num_pages }}
            </a>
        {% endif %}
    {% endif %}

{% endblock content %}
