<!-- наследуемся от шаблона default.html, который мы создавали для
flatpages -->
{% extends 'flatpages/default.html' %}

{% load custom_filter %}

<!-- Название у нас будет Post -->
{% block title %}
Post
{% endblock title %}

<!-- В контенте на странице мы выводим саму новость, идентификатор
которого был передан в url -->
{% block content %}

    <h1>Заголовок публикации</h1>
        <h2>{{ oneNews.header|censor }}</h2>
        <div class="line"></div>
    <h1>Дата публикации</h1>
        <h2>{{ oneNews.timeIn|date:'d.M.Y' }}</h2>
        <div class="line"></div>
    <h1>Текст публикации</h1>
        <h3>{{ oneNews.text|censor }}</h3>
        <div class="line"></div>

    {% if perms.news.change_post %}
    <h5>
        <a href="{% url 'news_update' oneNews.id %}">Изменить</a>
    </h5>
    {% endif %}

    <div class="line"></div>

    {% if perms.news.delete_post %}
    <h5>
        <a href="{% url 'news_delete' oneNews.id %}">Удалить</a>
    </h5>
    {% endif %}

    <div class="line"></div>
    <h5>
        <a href="{% url 'news_list' %}">На главную</a>
    </h5>


{% endblock content %}
